<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <title>Web_Scraping</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


  <!-- Bootstrap CDN -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

</head>

<body>

  <div class="container">

  <div class="jumbotron text-center">
    <h1>Mission to Mars</h1>
    <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
  </div>
    <div class="container-fluid news no-padding" id="scraped-data">
      <div class="row no-gutter">
        <div class="card-body">
          <h5 class="card-title" id="font">Latest Mars News</h5>
          <h6 class="card-subtitle mb-2 " id="font">{{ mars.newsTitle }}</h6>
          <p class="card-text">{{ mars.newsText }}</p>
          <a href={{ mars.news_url }} target="_blank">Check All News</a>
        </div>
      </div>
      </div>
      <div class="row no-gutter img-table">
        <div class="col-md-6" >
          <div class="card">
            <div class="card-body" id="img-table">
              <h5 class="card-title">Featured Mars Image</h5>
              <p class="card-text" id="dark-font">{{ mars.featured_image_url }}</p>
              <img class="card-img-bottom" src="{{ mars.featured_image }}" alt="Featured Mars Image">
              <a href={{ mars.jpl_url }} target="_blank">Check All Images</a>
            </div>
          </div>
        </div>
        <div class="col-md-6" >
          <div class="card">
            <div class="card-body" id="img-table">
              <div class="col-md-12">
                <h5 class="card-title">Current Weather on Mars</h5>
                <p class="card-text" id="dark-font">{{ mars.weather }}</p>
              </div>
            </div>
            <div class="card-body" id="img-table">
              <div class="col-md-12">
                <div>
                  <h5 class="card-title">Mars Facts</h5>
                  <p class="card-text"id="dark-font" >{{ mars.finaltable | safe }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class ="row" id="mars-hemispheres">
    <div class = "col-md-12">
        <h3><center>Mars Hemispheres</center></h3>
        {% for hemisphere in mars.HemisphereImageUrl %}
            <div class = "col-md-6">
                <div class = "thumbnail">
                    <img src = "{{hemisphere.img_url}}">
                        <h3>{{hemisphere.title}}</h3>
                    </div>
                </div>
        {% endfor %}
            </div>
    
    </div>


</body>